<!doctype html>
 <html>
   {% include head.html %}
   <body>
    {{ content | revealify }}
    <script src="{{site.baseurl}}/assets/reveal.js/dist/reveal.js"></script>
    <script src="{{site.baseurl}}/assets/reveal.js/plugin/notes/notes.js"></script>
    <script src="{{site.baseurl}}/assets/reveal.js/plugin/markdown/markdown.js"></script>
    <script src="{{site.baseurl}}/assets/reveal.js/plugin/highlight/highlight.js"></script>
    <script>
    // this is the reveal config
      Reveal.initialize({
        hash: true,
        center: false,
        controls: true,
        transition: 'fade',
        width: '1600',
        height: '900',
        margin: 0.25,
        history: false,
        slideNumber: true,
        plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ],
        parallaxBackgroundImage: '{{ page.parallaxBackgroundImage }}',
        parallaxBackgroundSize: 'cover',
      });
    </script>  
    {% include bible-gateway.html %}
   </body>
 </html>
